<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find orbbec_description)/urdf/femto_bolt.urdf.xacro"/>

  <xacro:macro name="ur20_workcell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <joint name="table_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="robot_base" />
    </joint>

    <link name="robot_base">
      <visual>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/robot_base.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/robot_base.dae"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      </collision>
    </link>

    <link name="robot_mount"/>
    <joint name="base_to_robot_mount" type="fixed">
      <parent link="robot_base"/>
      <child link="robot_mount"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 3.1415926" />
    </joint>

    <link name="handrail">
      <visual>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/handrail.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
         <mesh filename="package://ur20_workcell/meshes/handrail.dae"/>
        </geometry>
      </collision>
    </link>
    <joint name="base_to_handrail" type="fixed">
      <parent link="robot_base"/>
      <child link="handrail"/>
      <origin xyz="0 0 0"/>
    </joint>

    <link name="control_box">
      <visual>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/control_box.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
         <mesh filename="package://ur20_workcell/meshes/control_box.dae"/>
        </geometry>
      </collision>
    </link>
    <joint name="base_to_control_box" type="fixed">
      <parent link="robot_base"/>
      <child link="control_box"/>
      <origin xyz="0 0 0"/>
    </joint>

    <link name="table">
      <visual>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/table.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
         <mesh filename="package://ur20_workcell/meshes/table.dae"/>
        </geometry>
      </collision>
    </link>
    <joint name="base_to_table" type="fixed">
      <parent link="robot_base"/>
      <child link="table"/>
      <origin xyz="-0.15 0.5 -0.08" rpy="0 0 0" />
    </joint>

    <link name="clay_extruder">
      <visual>
        <geometry>
          <mesh filename="package://ur20_workcell/meshes/clay_extruder_cam_v2.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
         <mesh filename="package://ur20_workcell/meshes/clay_extruder_cam_v2.dae"/>
        </geometry>
      </collision>
    </link>
    <joint name="base_to_tool0" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="clay_extruder"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
        
    <!-- Fixed frame for calibrated camera pose relative to tool0 -->
    <link name="femto_color_optical_calib"/>

    <joint name="tool0_to_femto_color_optical_calib" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="femto_color_optical_calib"/>
      <!-- Origin is tool0 -> camera (meters, radians). 
          RPY is extrinsic X-Y-Z (roll, pitch, yaw) as in URDF. -->
      <origin xyz="-0.03041263  0.15675367 -0.03452134" 
               rpy="1.5836070435 0.0075223691 -3.1412784943"/>
    </joint>

    <!-- Fixed frame for calibrated camera pose relative to tool0 -->
    <link name="femto_ir_optical_calib"/>

    <joint name="tool0_to_femto_ir_optical_calib" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="femto_ir_optical_calib"/>
      <!-- Origin is tool0 -> camera (meters, radians). 
          RPY is extrinsic X-Y-Z (roll, pitch, yaw) as in URDF. -->
      <origin xyz="0.00180271  0.15873923 -0.03501765" 
               rpy=" 1.4796203267 0.0010471976 -3.1372642370 "/>
    </joint>
    <!-- Fixed frame for calibrated Extruder tcp pose relative to tool0 -->
    <link name="extruder_tcp"/>

    <joint name="tool0_to_extruder_tcp" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="extruder_tcp"/>
      <!-- Origin is tool0 -> extruder(meters, radians). 
          RPY is extrinsic X-Y-Z (roll, pitch, yaw) as in URDF. -->
      <origin xyz="-0.00094 0.24496 0.06159"
              rpy="1.5641113421 0.0 0.0"/>
    </joint>
    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>
  
    <xacro:femto_bolt
      prefix="femto_"
      parent="${ur_type}_tool0"
      use_nominal_extrinsics="true"
    >
      <origin xyz="0.0 0.128 -0.014" rpy="0 3.141592 -1.5707964" />
    </xacro:femto_bolt>

  </xacro:macro>

</robot>